body {
  width: 390px;
  height: 100000px;
}

.search {
  margin: 2em 0px;
  background-color: #f6f6f6;
}
input {
  background-color: #f6f6f6;
  color: #2d2d2d;
  border: none;
  padding: 4%;
  accent-color: #575757;
}

.fieldset__title {
  background-color: #ffb422;
  padding: 2%;
  color: white;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.user-info {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
}
fieldset {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 2em;
}
.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-status {
  background-color: #f6f6f6;
  padding: 5px 0px;
}
.user-status > .fa-caret-down {
  margin-left: 50px;
}
.resume {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.other-info {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.other-info__first {
  background-color: #ffeaec;
  padding: 20px;
  border-radius: 20%;
}
.other-info__second {
  background-color: #e7f5ff;
  padding: 20px;
  border-radius: 20%;
}
.other-info__third {
  background-color: #fff8ea;
  padding: 20px;
  border-radius: 20%;
}
.other-info__fourth {
  background-color: #eaf0ff;
  padding: 20px;
  border-radius: 20%;
}
.other-info__fifth {
  background-color: #dbfbdd;
  padding: 20px;
  border-radius: 20%;
}
.other-info__sixth {
  background-color: #f4eaff;
  padding: 20px;
  border-radius: 20%;
}
.menu-bar{
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  background-color:#F4F4F4;
  padding: 20px;
  position: fixed;
  width: 22em;
  
  

}
.home{
  display: flex;
  font-size: 21px;
  border-top-right-radius:20px;
  

}
.settings{
  display: flex;
  font-size: 21px;
  border-top-left-radius:10px;
  
}